admin/node_modules
admin/.vscode
admin/.env

cart/node_modules
cart/.vscode
cart/.env

customer/node_modules
customer/.vscode
customer/.env

order/node_modules
order/.vscode
order/.env

product/node_modules
product/.vscode
product/.env

shopping/.vscode
shopping/.env
shopping/node_modules

vendor/.vscode
vendor/.env
vendor/node_modules

proxy/.vscode
proxy/.env
proxy/node_modules
node_modules
