{
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "semi": false,
    "experimentalTernaries": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "quoteProps": "consistent",
    "trailingComma": "none",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "proseWrap": "preserve",
    "insertPragma": false,
    "printWidth": 300,
    "requirePragma": false,
    "tabWidth": 2,
    "useTabs": true,
    "embeddedLanguageFormatting": "off"
  }